* {
  margin: 0;

  box-sizing: border-box;
  font-family: "BANNER", sans-serif;
  color: #2c2c2c;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #d3cbc4;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #d3cbc4;

  border-bottom: 3px solid #4a4a4a;
}

.col img {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}

.text {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text {
    font-size: 15px;
  }

  .col {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
