* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BANNER", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 8px;
  width: 100vw;
  min-height: 100vh;
  padding: 8px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden;
}

.col img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.text {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .col {
    flex-direction: column;
  }
}
