* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BANNER", sans-serif;
  color: #2c2c2c;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
  background-color: #4a4a4a;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #dfdad6;
  overflow: hidden;
  border-bottom: 5px solid #4a4a4a;
}

.col img {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}

.text {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .col {
    height: auto;
    flex-direction: column;
  }
}
